click==8.1.7
colorama==0.4.6
joblib==1.4.2
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.1.1
pandas==2.2.2
psutil==6.0.0
pyfiglet==1.0.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
rich==13.8.0
scikit-learn==1.5.1
scipy==1.14.1
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.66.5
tzdata==2024.1
xgboost==2.1.1
